
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="edit-Type" edit="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <script type="text/javascript" src="/js/embed/highlight.pack.js?update_23_04_2018_1"></script>

    <script type="text/javascript" src="/js/embed/embed.js?update_23_04_2018_1"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <link id="" rel="stylesheet" type="text/css" href="/css/embed/embed-light.css?update_23_04_2018_1">



    <script type="text/javascript">
        var height;
        var force_height = null;
        var slug = "s5e5100o";
        var show_src = "//fiddle.jshell.net/s5e5100o/show/light/";
        var resize_element_counter = 0;
        var shell_edit_url = '/s5e5100o/light/';


    </script>


    <style type="text/css" media="screen">




    </style>

</head>
<body>
    
    <div id="wrapper">

       
        @RenderBody()
      

    </div>
    <script>$(".fancybox").fancybox({
    afterClose: function () {
        location.reload();
        return;
    }
});</script>
</body>
</html>
