@model IEnumerable<ShoesStore_agforl.Models.Loai>
@using ShoesStore_agforl.Models

@{
    ViewBag.Title = "Loai";
    Layout = "~/Views/Shared/_LayoutQLSP.cshtml";
}
@{
    QuanTriVien kh = (QuanTriVien)Session["Taikhoanadmin"];
}

<button class="btn btn-success" type="submit"><a href="@Url.Action("themloai", "Admin") ">THÊM LOẠI MỚI </a></button>

<table class="table">
    <tr>
        <th>
            Tên loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            <button class="btn btn-warning" type="submit" style="width:68px;"><a href="@Url.Action("Sualoai", "Admin", new { id=item.MaLoai }) ">Sữa</a></button>
            <button class="btn btn-danger" type="submit" style="width:68px;"><a href="@Url.Action("Xoaloai", "Admin", new { id=item.MaLoai }) ">Xóa </a></button>
        </td>
    </tr>
}

</table>
