@model ShoesStore_agforl.Models.Loai

@{
    ViewBag.Title = "Xoaloai";
    Layout = "~/Views/Shared/_LayoutQLSP.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa loại?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên Loại</dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-danger" type="submit">Xóa</button>
            <button class="btn btn-success" type="submit"><a href="@Url.Action("Loai", "Admin") ">Back to list </a></button>
        </div>
    }
</div>
