@model ShoesStore_agforl.Models.HoaDon



<form action="#" method="post">
    <div class="col-md-6 col-sm-6 contact_left_grid">
        <label class="control-label">Mã đơn hàng : @Model.MaHoaDon</label>
        <label class="control-label">Ngày đặt : @Model.Ngaydat</label>
        <label class="control-label">Ngày Giao : @Model.Ngaygiao</label>
    </div>

    <div class="clearfix"> </div>


</form>
