
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}


    <!-- top Products -->
<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <h3 class="head">About Us</h3>
        <p class="head_para">Something about shop</p>
        <div class="inner_section_w3ls">
            <div class="col-md-6 news-left">
                <img src="~/images/ab.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 news-right">
                <h4>Welcome to our Agforl Shoes</h4>
                <p class="sub_p">
                   Agforl shoes cảm ơn tất cả khách hàng đã ủng hộ chúng tôi trong thời gian qua ,để đáp lại Agforl shoes luôn cố gắng đưa các sản phẩm chính hãng đến tay người dùng Viêt Nam một cách ưu đãi nhất.<br />
                    Hiện nay nhu cầu mua sắm chở nên tất yếu phong cách và chất lượng sản phẩm luôn được người sử dụng quan tâm hàng đầu .Đáp ứng nhu cầu ấy Bulldog'sCloset mang đến cho bạn những sản phẩm đẳng cấp và chất lượng quốc tế thoải mái hơn, hoàn hảo hơn mang đến cho khách hàng Việt Nam một phong cách của chính họ.<br />
                    Agforl Shoes chuyên cung cấp sỉ & lẻ các loại sản phẩm già thời trang nhập khẩu từ USA.Các thương hiệu nổi tiếng trên toàn thế giới được người dùng ưa chuộng và tin dùng.


                </p>
                <p>
                    Cam kết bán hãng chính hãng ,bán đúng giá agforlshoes Closet với phương châm đưa hãng chính hãng đến tay người dùng Việt một cách dễ dàng nhất.
                    Với xu hướng tiện dụng cho mọi khách hàng agforlshoes đáp ứng kết hợp từ mua sắm online trực tuyến cùng các Store tại nhiều quận trên TP. HCM . Ưu đãi miễn phí vận chuyển ,miễn phí đổi trả hàng chế độ bảo hành  chu đáo .Chúng tôi cam kết mang đến cho khách hàng sự hài lòng cao nhất.

                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<div class="mid_services">
    <div class="col-md-6 according_inner_grids">
        <h3 class="heading two">CHÍNH SÁCH AGFORL SHOES</h3>
        <div class="according_info">
            <div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title asd">
                            <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>CHÍNH SÁCH ĐÕI TRẢ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body panel_text">
                            Những sản phẩm đã qua sử dụng thì sẽ không áp dụng đổi trả.<br />
                            Những sản phẩm bị hao mòn do sử dụng sẽ không áp dụng đổi trả.<br />
                            Các sản phẩm trong chương trình khuyến mãi, giảm giá không áp dụng chính sách đổi hàng.<br />
                            Điều kiện: Sản phẩm còn mới 100%
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title asd">
                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>CHÍNH SÁCH BẢO HÀNH
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body panel_text">
                            Khi mua sản phẩm tại Sly 1994 quý khách yên tâm trong quá trình sử dụng. Dù là lỗi của nhà sản xuất, lỗi do khách hàng sử dụng… Chúng tôi sẽ Bảo Hành Trọn Đời và hoàn toàn Miễn Phí cho Quý Khách!.Thời gian bảo hành từ: 1 – 3 ngày làm việc.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title asd">
                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                               aria-controls="collapseThree">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>CHÍNH SÁCH BẢO MẬT
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body panel_text">
                            Thông tin cá nhân của thành viên trên agforlshoes được agforlshoes cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của agforlshoes Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
    <div class="col-md-6 mid_services_img">
        <div id="map"></div>

        </div>

    </div>
    <div class="clearfix"> </div>
</div>
<!-- /Properties -->
@RenderPage("~/Views/Shared/Banner.cshtml")
<!--//banner -->
