<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider4">

            <li>
                @Html.Action("slide", "Shoes")
            </li>

            <li>
                @Html.Action("slide2", "Shoes")


            </li>
            <li>
                @Html.Action("slide3", "Shoes")


            </li>
            <li>
                @Html.Action("slide4", "Shoes")


            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
